.page {
    &__second {
    }
}
.second {
    &__row {
        display: flex;
        margin: 0 0px;
        margin-top: -60px;
    }

    &__column {
        padding: 0px 30px;
        flex: 0 1 25%;
    }

    &__item {
        background: #ffa89a;
        box-shadow: 0px 0px 15px 1px #ff8875;

        display: flex;
        flex-direction: column;
        height: 100%;

        transition: all 0.3s ease 0s;
        &:hover {
            background: #524d4c;
        }
    }
    &__body {
        display: flex;
        flex-direction: column;
        height: 100%;

        padding-bottom: 28px;
        padding-right: 40px;
        padding-left: 41px;
    }

    &__image {
        // width: 300px;
        // $www: 100%;
        width: 100%;
        height: 100%;
        img {
            // Не забудь про высоту/ширину элемента
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        margin-bottom: 26px;
    }

    &__title {
        font-weight: bold;
        font-size: 22px;
        line-height: 150%;

        text-align: center;

        color: #ffffff;

        margin-bottom: 11px;
    }

    &__text {
        flex: 1 1 auto;

        font-size: 16px;
        line-height: 150%;

        text-align: center;

        color: #ffffff;

        margin-bottom: 16px;
    }

    &__wrap-more {
        // 1 вариант
        width: 150px;
        height: 38px;
        margin: 0px auto;

        // 2 вариант
        // display: flex;
        // justify-content: center;
    }

    &__more {
        // к 1 варианту
        width: 100%;
        height: 100%;

        // к 2 варианту
        // width: 150px;
        // height: 38px;

        font-weight: 600;
        font-size: 15px;
        line-height: 150%;

        display: flex;
        align-items: center;
        justify-content: center;

        color: #ffffff;

        background: #43f074;
        border-radius: 30px;

        transition: all 0.3s ease 0s;

        &:hover {
            background: #00a72f;
        }
    }
}

@media (max-width: 1500px) {
    .second {
        &__row {
            flex-wrap: wrap;
            margin: -60px -30px -30px -30px;
        }

        &__column {
            flex: 0 1 50%;
            padding: 30px;
        }
        &__body {
            padding-bottom: 50px;
        }
    }
}
@media (max-width: 767px) {
    .second {
        &__row {
            margin: -15px;
            margin-top: -60px;
        }

        &__column {
            padding: 15px;
        }
        &__body {
            padding-bottom: 40px;
        }
    }
}
@media (max-width: 700px) {
    .second {
        &__column {
            flex: 0 1 100%;
            padding: 7.5px;
        }
        &__row {
            margin: -7.5px;
            margin-top: -50px;
        }

        &__body {
            padding: 0px 15px 30px 15px;
        }
    }
}
