//Сюда шрифты
@import "_fonts";
@import "_nullstyle";
@import "_blocks";

@import "_header";

@import "_start";

@import "_second";

@import "_third";

@import "_forth";

@import "_fifth";

@import "_sixth";

@import "_seventh";

// @import "_main-section-1";
// @import "_main-section-2";
// @import "_main-section-3";

@import "_footer";

html {
    font-family: "Open Sans", sans-serif;
}
body {
}
.page {
    &__start {
        padding-top: 50px;
        padding-bottom: 140px;

        background: #efefef;
    }
    &__second {
        padding-bottom: 60px;
    }
    &__third {
        background: #efefef;
        padding-top: 60px;
        padding-bottom: 101px;
    }
    &__forth {
        padding-bottom: 57px;
    }
    &__fifth {
        background: #efefef;
        padding: 60px 0px;
    }
    &__sixth {
        padding-top: 83px;
        padding-bottom: 60px;
    }
    &__seventh {
        padding-top: 50px;
        background: #efefef;
        padding-bottom: 191px;
    }

    // & > *:not(:nth-child(6)) {
    //     display: none;
    // }
}
// > all childs (first generation)
